/node_modules
/public/hot
/public/build
/public/vendor
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
/.phpunit.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.vapor/
.env.production
.env.staging
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
/mysql_backup
