@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.geolonia-svg-map
{
    width: 100%;
}

.geolonia-svg-map .prefecture
{
    fill: #ffffff;
    stroke: #666666;
    cursor: pointer;
}

.geolonia-svg-map .boundary-line
{
    stroke: #999999;
}
